<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<services>
			<service name="IBoardService">
				<endpoint address="net.pipe://localhost/BoardService"
				binding="netNamedPipeBinding"
				contract="PostSharp.Tutorials.Threading.Communication.IBoardService"
				name="BoardServiceEndoint" />
			</service>
		</services>
		<client>
			<endpoint address="net.pipe://localhost/BoardService"
			  binding="netNamedPipeBinding"
			  contract="PostSharp.Tutorials.Threading.Communication.IBoardService"
			  name="BoardServiceClientEndpoint" />
		</client>
	</system.serviceModel>

	
</configuration>