<Project xmlns="http://schemas.postsharp.org/1.0/configuration">
	<Logging xmlns="clr-namespace:PostSharp.Patterns.Diagnostics;assembly:PostSharp.Patterns.Diagnostics">
		<Profiles>
			<LoggingProfile Name="Default"  IncludeExecutionTime="True" ExecutionTimeThreshold="200">
				<DefaultOptions>
					<LoggingOptions IncludeParameterName="True"/>
				</DefaultOptions>
			</LoggingProfile>
		</Profiles>
	</Logging>
</Project>